.container-top{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width:100%;
    padding-bottom: 15px;
    padding-left:15px;
    background-size: cover;
    background-repeat: none;
    margin: -30px -8px 30px -8px;
      
}

.container-top p{
    color: rgba(0, 0, 0, 0.539);
    font-size: 36px;
    letter-spacing: 3px;
}

.second-container{
display:flex;
justify-content: space-between;
width:85%;
margin: 30px auto;
padding-top:100px;
padding-bottom: 100px;
border-bottom: 1px solid rgba(0, 0, 0, 0.109);
}

.second-image{
    margin:20px;
    padding-top:20px;
}

.second-image img{
    border-radius: 5px;
    opacity: 0.8;
}

.second-text{
    margin:20px;
    padding:20px;
    padding-left:10px;
    padding-right:10px;
  
}

.second-text h2{
    letter-spacing: 3px;
    color:rgba(0, 0, 0, 0.842);
    font-size:45px;
    text-align: center;
    
    
}
.second-text h3{
    letter-spacing: 3px;
    color:rgba(0, 0, 0, 0.842);
    text-align: left;
    margin-top:70px;
}
.p-normal{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    color:rgba(0, 0, 0, 0.842);
    font-size:23px;
    line-height: 1.6em;
}

.p-grey{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    color:rgba(14, 13, 13, 0.404);
    line-height: 1.6em;
    font-size:23px;
}

.container-bottom {
    display:flex;
    justify-content: space-between;
}

.third-container{
    width:85%;
    margin: 30px auto;
    padding-top:100px;
    padding-bottom: 100px;
}
